<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner topnews" role="listbox">
        <div class="item active"><a href="#" class="anews">
                <h2>{{ slider[0].title }}</h2>
                {% if slider[0].img =='' %}
                <p>{{ slider[0].text |slice(0,100)  }}</p>
                   <a href="{{ path_for('news',  { 'id': slider[0].id }) }}">Читать новость</a>
                {% else %}
            <p><img class="left" src="{{ slider[0].img }}">{{ slider[0].text |slice(0,100) }}
                <a href="{{ path_for('news',  { 'id': slider[0].id }) }}">Читать новость</a></p>
               {% endif %}
            </a>
        </div>

        <div class="item"><a href="#"  class="anews">
            <h2>{{ slider[1].title }}</h2>
                {% if slider[1].img =='' %}
                <p>{{ slider[1].text |slice(0,100) }}.
                    <a href="{{ path_for('news',  { 'id': slider[1].id }) }}">Читать новость</a></p>
                {% else %}
            <p><img class="left" src="{{ slider[1].img }}">{{ slider[1].text|slice(0,100) }}.
                <a href="{{ path_for('news',  { 'id': slider[1].id }) }}">Читать новость</a></p>
                {% endif %}
            </a>
        </div>

        <div class="item"><a href="#"  class="anews">
            <h2>{{ slider[2].title }}</h2>
                {% if slider[2].img =='' %}
                <p>{{ slider[2].text |slice(0,100) }}.
                    <a href="{{ path_for('news',  { 'id': slider[2].id }) }}">Читать новость</a></p>
                {% else %}
            <p><img class="left" src="{{ slider[2].img }}">{{ slider[2].text|slice(0,100) }}.
                <a href="{{ path_for('news',  { 'id': slider[2].id }) }}">Читать новость</a></p>
                {% endif %}
            </a>
        </div>

        <div class="item"><a href="#"  class="anews">
            <h2>{{ slider[3].title }}</h2>
                {% if slider[3].img =='' %}
                <p>{{ slider[3].text |slice(0,100) }}.
                    <a href="{{ path_for('news',  { 'id': slider[3].id }) }}">Читать новость</a></p>
                {% else %}
            <p><img class="left" src="{{ slider[3].img }}">{{ slider[3].text|slice(0,100) }}.
                <a href="{{ path_for('news',  { 'id': slider[3].id }) }}">Читать новость</a></p>
                {% endif %}
            </a>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>