<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://use.fontawesome.com/ac4c6e621e.js"></script>
<script src="{{ base_url() }}/css/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ base_url() }}/css/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="{{ base_url() }}/js/counter.js"></script>
<script src="{{ base_url() }}/js/autocomplete.js"></script>
<script src="{{ base_url() }}/css/bootstrap/js/jquery.dataTables.min.js"></script>
<script src="{{ base_url() }}/js/news.js"></script>
<script src="{{ base_url() }}/js/script.js"></script>
</body>
</html>